/* -----------------------------------
  Navigator Change
----------------------------------- */
.nav-links .info {
    background-color: black;
    color: white;                
    border-radius: 20px; 
  }

  .nav-links .play:hover{
    background-color:#e7e7e7;
    border-radius:20px;
    transition:background 0.3s
  }
  
  .nav-links .work:hover{
    background-color:#e7e7e7;
    border-radius:20px;
    transition:background 0.3s
  }

  .main-inner.info-layout {
    display: flex;
    align-items: flex-end; 

    padding-top: 2.5rem;
    max-width: 1395px;
    margin: 0 auto;
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-right: clamp(1rem, 5vw, 3rem);
    box-sizing: border-box;
  }
  
  .info-photo {
    flex: 0 0 35%; 
  }
  
  .info-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: calc(50% - 35%); 
  }
  

  .info-photo img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
  }

  .info-text h1{
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    font-weight:400;
  
  }

  .info-text p{
    font-size: clamp(1rem, 1vw, 4rem);
    margin-top:1rem;
  }
  