/* -----------------------------------
  Navigator Change
----------------------------------- */
.nav-links .play {
    background-color: black;
    color: white;                
    border-radius: 20px;   
  }

  .nav-links .work:hover{
    background-color:#e7e7e7;
    border-radius:20px;
    transition:background 0.3s
  }
  
  .nav-links .info:hover{
    background-color:#e7e7e7;
    border-radius:20px;
    transition:background 0.3s
  }

  .main-inner .play-images{
    column-count: 2;
    column-gap: 1rem;
    margin-top:7rem;
  }
  
/* 
  img {
    transition: transform 0.4s ease; 
  }
  
  img:hover {
    transform: scale(1.02); 
  }

  video {
    transition: transform 0.4s ease; 
  }
  
  video:hover {
    transform: scale(1.02); 
  } */

  .image-block {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
  
  .image-block img,.image-block video {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
  }
  
  .image-caption {
    margin-top:1rem;
    font-weight:400;
    font-size: 1rem;
    color: #000000;
    margin-bottom:1rem;
    display: inline-block;
  }